<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HW1/src/org/apache/hadoop/examples/PreprocessGraph.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.apache.hadoop.examples.PreprocessGraph"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/pengfan/cs6240_mapreduce/HW1/testinput /home/pengfan/cs6240_mapreduce/HW1/testoutput"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HW1"/>
</launchConfiguration>
