<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HW2/src/hadoop/wordcount/prefix/WordCountAddPrefix.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hadoop.wordcount.prefix.WordCountAddPrefix"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/pengfan/cs6240_mapreduce/hw1_dataset /home/pengfan/cs6240_mapreduce/HW2/output_add_prefix"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HW2"/>
</launchConfiguration>
