<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FINAL/src/preprocess/PreprocessGraphSourceNodes.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="preprocess.PreprocessGraphSourceNodes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/pengfan/cs6240_mapreduce/final/Twitter-dataset-sample/edgesrcnode20/srcnodes /home/pengfan/cs6240_mapreduce/final/Twitter-dataset-sample/edgeadjacentlist/part-r-00000 /home/pengfan/cs6240_mapreduce/final/Twitter-dataset-sample/edgesrcnode20ssspinput/edges"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FINAL"/>
</launchConfiguration>
